---
# roles/postgresql/tasks/main.yml

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Install PostgreSQL and Python PostgreSQL adapter
  apt:
    name:
      - postgresql
      - postgresql-contrib
      - python3-psycopg2
    state: present
  become: yes

- name: Ensure PostgreSQL is started and enabled
  systemd:
    name: postgresql
    state: started
    enabled: yes
  become: yes

- name: Create PowerDNS database
  postgresql_db:
    name: "{{ pdns_db_name }}"
    encoding: UTF-8
    lc_collate: en_US.UTF-8
    lc_ctype: en_US.UTF-8
    template: template0
  become: yes
  become_user: postgres
  vars:
    ansible_ssh_pipelining: true

- name: Create PowerDNS database user
  postgresql_user:
    name: "{{ pdns_db_user }}"
    password: "{{ pdns_db_password }}"
    db: "{{ pdns_db_name }}"
  become: yes
  become_user: postgres
  vars:
    ansible_ssh_pipelining: true

- name: Grant all privileges on database to PowerDNS user
  postgresql_privs:
    database: "{{ pdns_db_name }}"
    privs: ALL
    type: database
    role: "{{ pdns_db_user }}"
  become: yes
  become_user: postgres
  vars:
    ansible_ssh_pipelining: true

- name: Grant schema permissions to PowerDNS user
  postgresql_privs:
    database: "{{ pdns_db_name }}"
    objs: public
    privs: CREATE,USAGE
    type: schema
    role: "{{ pdns_db_user }}"
  become: yes
  become_user: postgres
  vars:
    ansible_ssh_pipelining: true

- name: Grant all privileges on all tables in public schema
  postgresql_privs:
    database: "{{ pdns_db_name }}"
    schema: public
    objs: ALL_IN_SCHEMA
    privs: ALL
    type: table
    role: "{{ pdns_db_user }}"
  become: yes
  become_user: postgres
  vars:
    ansible_ssh_pipelining: true

- name: Grant all privileges on all sequences in public schema
  postgresql_privs:
    database: "{{ pdns_db_name }}"
    schema: public
    objs: ALL_IN_SCHEMA
    privs: ALL
    type: sequence
    role: "{{ pdns_db_user }}"
  become: yes
  become_user: postgres
  vars:
    ansible_ssh_pipelining: true

- name: Find PostgreSQL version directory
  shell: ls -1 /etc/postgresql/ | head -1
  register: postgres_version
  changed_when: false
  become: yes

- name: Set PostgreSQL config path
  set_fact:
    pg_hba_conf_path: "/etc/postgresql/{{ postgres_version.stdout }}/main/pg_hba.conf"

- name: Configure PostgreSQL to allow local connections
  postgresql_pg_hba:
    dest: "{{ pg_hba_conf_path }}"
    contype: local
    databases: "{{ pdns_db_name }}"
    users: "{{ pdns_db_user }}"
    method: md5
  become: yes
  notify: restart postgresql

- name: Configure PostgreSQL to allow host connections
  postgresql_pg_hba:
    dest: "{{ pg_hba_conf_path }}"
    contype: host
    databases: "{{ pdns_db_name }}"
    users: "{{ pdns_db_user }}"
    source: 127.0.0.1/32
    method: md5
  become: yes
  notify: restart postgresql
