# Keycloak configuration file

# Database
db={{ keycloak_db_vendor }}
db-url=jdbc:postgresql://{{ keycloak_db_host }}:{{ keycloak_db_port }}/{{ keycloak_db_name }}
db-username={{ keycloak_db_user }}
db-password={{ keycloak_db_password }}

# Hostname
hostname={{ keycloak_hostname }}
hostname-strict=false
hostname-strict-https=false

# HTTP/HTTPS
http-enabled=true
http-port={{ keycloak_http_port }}
https-port={{ keycloak_https_port }}
https-certificate-file={{ keycloak_home }}/conf/fullchain.crt
https-certificate-key-file={{ keycloak_home }}/conf/decrypted_key.pem

# Proxy
proxy=edge

# Logging
log-level=INFO
log-console-output=default

# Health
health-enabled=true

# Metrics
metrics-enabled=true
